.hero-media {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.hero-media img {
  border-radius: 8px;
}

.bird {
  width: 30px;
  height: 30px;
  margin-right: 7px;
  vertical-align: middle;
}

.world{
  display: flex;
  align-items: center;
}

.background-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom right,
    white,
    transparent,
    rgba(34, 197, 94, 0.1)
  );
  opacity: 0.6;
  z-index: -1;
}

.feature-scroll-mask {
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 40s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused;
}
